:root {
    --max-width: 1184px;
    --container-padding: 16px;
}

@media (min-width: 768px) {
    :root {
        --container-padding: 24px;
    }
}

@media (min-width: 1024px) {
    :root {
        --container-padding: 48px;
    }
}