.cover__background {
    text-decoration: none;
    color: #fff;
    background: url(../../../images/cover/cover__background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;

    
    max-width: 1184px;
    min-height: 740px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
}

.cover__background::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
    transition: opacity 400ms ease;
}

.cover__background:hover::after{
    opacity: 0.8;
}


@media (max-width: 1024px) {
    .cover__background {
        min-height: 640px;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}

@media (max-width: 320px) {
    .cover__background {
        background: url(../../../images/cover/cover-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 200px;
    }
}