.footer {
    width: min(var(--max-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
    padding-bottom: 24px;

    display: flex;

    margin-top: 64px;
    flex-direction: column;
    gap: 48px;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 88px;
        flex-direction: row;
        gap: 0;
        align-items: center;
        justify-content: space-between;

    }
}

@media (min-width: 1024px) {
    .footer {
        margin-top: 92px;
    }
}


